.page-footer {
    width: 100%;
    background: lightgray;
}

.footer-1 *,
.footer-2 * {
    cursor: pointer
}

.footer-1-1,
.footer-1-2,
.footer-2-1,
.footer-2-2,
.footer-2-3,
.footer-2-4 {
    width: 100%;
    height: 100%;
    position: relative;
    color: #121413;
}

.footer-1-1 > div,
.footer-1-2 > div,
.footer-2-1 > div,
.footer-2-2 > div,
.footer-2-3 > div,
.footer-2-4 > div {
    width: 100%;
    opacity: 0;
    bottom: 0;
    padding: 20px 12px 20px 24px;
    position: absolute;
    background: #f4f5f6;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.footer-2-1 > div,
.footer-2-2 > div,
.footer-2-3 > div,
.footer-2-4 > div {
    padding: 14px 12px 16px 18px;
}

.footer-1 a:hover > div > div,
.footer-2 a:hover > div > div {
    opacity: 1;
}

.footer-1 {
    background: lightgray;
    display: flex;
}

.footer-1 a {
    height: 30vw;
    flex: 1 1 auto;
}

.footer-1 > a > div > div > span {
    text-transform: uppercase;
    color: #121413;
    opacity: 0.3;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-1 > a > div > div > h2 {
    padding-top: 4px;
    font-weight: 400;
    font-size: 2rem;
}

.footer-2 > a > div > div > h2 {
    font-weight: 400;
}

#mixlexia-cell1 > div,
#mixlexia-cell2 > div,
#mixlexia-cell3 > div {
    background-image: url(mixlexia-splash-large.png);
    background-size: auto 100%;
    background-position: right;

}

#condoms-cell1 > div,
#condoms-cell2 > div,
#condoms-cell3 > div {
    background-image: url(../img/condoms3.jpg);
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
}

#beacon-cell1 > div,
#beacon-cell2 > div,
#beacon-cell3 > div {
    background-image: url(beacon-splash-large.png);
    background-size: 100% auto;
    background-position: 0% 40%;
}

.footer-2 {
    background: gray;
    display: flex;
}

.footer-2 a {
    height: 15vw;
    flex: 1 1 auto;
}

.footer-2-1 {
    background-image: url("../img/nobl-poster-black.png");
    background-size: 100% auto;
}

.footer-2-2 {
    background-image: url("../img/swc-motion.png");
    background-size: 110% auto;
    background-position: center;
}

.footer-2-3 {
    background-image: url("../img/wifi-card-03.png");
    background-size: 120% auto;
    background-position: center;
}

.footer-2-4 {
    background-image: url("../img/pregnancy-02.png");
    background-size: 100% auto;
    background-position: top center;
}

.footer-3 {
    padding: 10vh 0 10vh;
    background-color: #121413;
    text-align: center;
    background-image: url("footer.png");
    background-size: auto 100%;
    background-position: 0 0;
    flex: 1 1 auto;
    color: #f4f5f6;
    background-repeat: no-repeat;
}

.footer-3 .right-container {
    text-align: left;
    margin-left: 12vw;
}

.email-header {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    color: rgba(244, 245, 246, 0.3);
}

.footer-3 .email-link {
    transform: translate(9px, 10px);
    width: min-content;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #f4f5f6;
    padding-bottom: 8px;
}

.footer-3 .email-link a {
    color: #f4f5f6;
}

.footer-link-container {
    width: 100%;
}

.right-container > div > div {
    margin-top: 6rem;
    display: inline-block;
    width: 260px;
    vertical-align: top;
}

.right-container > div > div:first-of-type {
    margin-right: 6rem;
}

.right-container > div > div span {
    font-size: 1rem;
    display: inline-block;
}

.right-container h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 12px;
}

.right-container h1 div {
    font-style: italic;
    display: inline-block;
}

.right-container h1 span {
    border-bottom: 3px solid #f4f5f6;
    padding-bottom: 4px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.right-container div h1 {
    opacity: 0.3;
}

.right-container li {
    padding: 6px 0;
    margin: 8px 0;
}

.right-container li a {
    color: #f4f5f6;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {

    .right-container h1 {
        font-size: 2rem;
    }

}

@media (max-width: 1080px) {

    .footer-1 > a > div > div > span {
        font-size: 0.8rem;
    }

    .footer-1 > a > div > div > h2 {
        font-size: 1.5rem;
    }

    .footer-2 h2 {
        font-size: 1.35rem;
    }

    .footer-1-1 > div,
    .footer-1-2 > div {
        padding: 12px 12px 12px 16px;
    }

    .footer-2-1 > div,
    .footer-2-2 > div,
    .footer-2-3 > div,
    .footer-2-4 > div {
        padding: 10px 14px 14px;
    }

    .footer-3 .right-container {
        margin-left: 8vw;
    }

    .right-container > div > div:first-of-type {
        margin-right: 2vw;
    }

    .right-container > div > div {
        margin-top: 8vw;
    }

}

@media (max-width: 960px) {

    .right-container h1 {
        font-size: 1.75rem;
    }

}

@media (max-width: 780px) {

    .footer-1 {
        display: block;
        height: 120vw;
    }

    .footer-2 {
        display: block;
        height: 240vw;
    }

    .footer-1 a,
    .footer-2 a {
        height: 60vw;
        flex: none;
    }

    .footer-1-1,
    .footer-1-2 {
        height: 60vw;
    }

    .footer-2-1,
    .footer-2-2,
    .footer-2-3,
    .footer-2-4 {
        height: 60vw;
    }

    .footer-1-1 > div,
    .footer-1-2 > div,
    .footer-2-1 > div,
    .footer-2-2 > div,
    .footer-2-3 > div,
    .footer-2-4 > div {
        width: 70%;
        opacity: 1;
        padding: 16px 12px 16px 16px;
    }

    .footer-1 > a > div > div > h2 {
        font-size: 2rem;
        line-height: 120%;
        padding: 0;
    }

    .footer-1 > a > div > div > span {
        display: none;
        padding: 0;
    }

    .footer-2 h2 {
        font-size: 2rem;
        line-height: 120%;
        padding: 0;
    }

    .footer-3 {
        padding: 8rem 0 6rem;
        text-align: center;
        background-image: url("footer-small.png");
        background-size: 100% auto;
        flex: none;
    }

    .email-link {
        transform: translateX(0px);
        transform: translateY(0px);
    }

    .footer-3 .right-container {
        text-align: center;
        margin-left: 0;
    }

    .right-container > div {
        margin: 6rem 0 0;
        display: inline-block;
        width: 100%;
    }

    .right-container > div > div {
        width: 100%;
    }

    .right-container h1 {
        font-weight: 400;
        font-size: 7.5vw;
        margin-bottom: 1rem;
    }

    .right-container li {
        padding: 1.2vw 0;
        margin: 3.5vw 0;
        font-size: 5vw;
    }

    #condoms-cell1 > div,
    #condoms-cell2 > div,
    #condoms-cell3 > div {
        background-size: 110% auto;
    }

}
