.game-wrapper .content {
  padding: 3vh;
  width: 100%;
  display: flex;
}

.cheater-scrim {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 300%;
  line-height: 140%;
  position: fixed;
  border-radius: 2px;
  text-align: center;
  box-sizing: content-box;
  z-index: 99;
}

.cheater-scrim div {
  display: inline-block;
  width: 70vw;
  height: 20vh;
  padding: 40vh 15vw;
  box-sizing: content-box;
}

.game-wrapper .sidebar {
  flex: 1;
  height: 94vh;
}

.game-wrapper .scoreboard {
  height: 60%;
  background: white;
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  padding: 20px 16px 16px;
}

.game-wrapper .scoreboard h3 {
  margin-bottom: 8px;
  padding: 4px 4px 20px 8px;
}

.scoreboard .player {
  display: flex;
  margin: 6px 0;
  padding: 8px;
  border-radius: 50px;
}

.scoreboard .player:hover {
  background: #eee;
}

.scoreboard .player .name {
  width: auto;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.scoreboard .player .points {
  flex: 1;
  text-align: right;
  padding: 4px 6px;
}

.game-wrapper .chat {
  height: 40%;
  background: white;
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.chat h3 {
  margin-bottom: 8px;
  padding: 24px 4px 20px 22px;
}

.game-wrapper .chat .messages {
  width: 100%;
  height: calc(100% - 48px);
}

.chat .message {
  margin: 16px;
  margin-left: 22px;
}

.chat .starter-message {
  margin: 16px;
  margin-left: 22px;
  opacity: 0.6;
  font-style: italic;
}

.game-wrapper .chat .message-bar {
  height: 48px;
  width: 100%;
  border-top: 2px solid gray;
  display: flex;
}

.game-wrapper .chat input {
  flex: 3;
  height: 48px;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.game-wrapper .chat .send-button {
  flex: 1;
  height: 48px;
  font-size: 18px;
  background: gray;
  color: white;
  width: 100px;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
}

.game-wrapper .canvas {
  text-align: center;
  flex: 3;
  height: 94vh;
  background: white;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas .square {
  width: calc(3vw + 4vh);
  height: calc(3vw + 4vh);
  background: black;
  position: relative;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 3;
}

.canvas .relic-wrapper {
  width: 5px;
  height: 5px;
  z-index: 1;
  position: absolute;
}

.canvas .relic-square {
  width: calc(3vw + 4vh);
  height: calc(3vw + 4vh);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.canvas .timer {
  width: 60%;
  background: red;
  display: inline-block;
  font-size: 20px;
  z-index: 2;
}

.canvas .waiting {
  background: none;
  color: gray;
  font-size: 24px;
  border-radius: 1px;
  width: 300px;
  cursor: pointer;
  z-index: 2;
}

.canvas .waiting p {
  padding: 28px 0;
  z-index: 2;
}

.canvas .ready {
  background: #555;
  color: white;
  font-size: 24px;
  border-radius: 1px;
  width: 325px;
  cursor: pointer;
  z-index: 2;
}

.canvas .ready div {
  padding: 28px 0;
}

.canvas .winner {
  width: 60%;
  background: cyan;
  display: inline-block;
  font-size: 20px;
}
