.game-wrapper .content {
  padding: 16px;
  width: 100%;
  display: flex;
}

.cheater-scrim {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 300%;
  line-height: 140%;
  position: fixed;
  border-radius: 2px;
  text-align: center;
  box-sizing: content-box;
  z-index: 99;
}

.cheater-scrim div {
  display: inline-block;
  width: 70vw;
  height: 20vh;
  padding: 40vh 15vw;
  box-sizing: content-box;
}

.game-wrapper .sidebar {
  flex: 4;
  height: calc(100vh - 32px);
}

.game-wrapper .title-bar {
  height: 50px;
  display: flex;
  text-align: center;
}

.game-wrapper .title-bar .logo {
  width: 50px;
  background: var(--bg-level-2);
  border-radius: 16px;
  user-select: none;
  overflow: hidden;
}

.game-wrapper .title-bar .logo img {
  width: 100%;
  height: 100%;
  user-select: none;
}

.game-wrapper .title-bar .exit-button {
  flex: 4;
  margin: 0 16px;
  background: var(--bg-level-2);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  overflow: hidden;
}

.game-wrapper .title-bar .exit-button:hover {
  background: var(--bg-level-3);
}

.game-wrapper .exit-button .icon {
  width: 20px;
  height: 18px;
  margin: 16px 6px 16px 0;
  background-image: url("exit-icon.png");
  background-size: 20px 18px;
  display: inline-block;
  opacity: 0.4;
}

.game-wrapper .exit-button .text {
  display: inline-block;
  line-height: 50px;
}

.game-wrapper .title-bar .chat-button {
  flex: 4;
  margin: 0 16px;
  background: var(--bg-level-2);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  display: none;
  overflow: hidden;
}

.game-wrapper .title-bar .chat-button:hover {
  background: var(--bg-level-3);
}

.game-wrapper .chat-button .icon {
  width: 20px;
  height: 18px;
  margin: 16px 6px 16px 0;
  background-image: url("chat-icon.png");
  background-size: 20px 18px;
  display: inline-block;
  opacity: 0.4;
}

.game-wrapper .chat-button .text {
  display: inline-block;
  line-height: 50px;
}

.game-wrapper .title-bar .settings-button {
  flex: 5;
  background: var(--bg-level-2);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  overflow: hidden;
}

.game-wrapper .title-bar .settings-button:hover {
  background: var(--bg-level-3);
}

.game-wrapper .settings-button .icon {
  width: 19px;
  height: 18px;
  margin: 16px 7px 16px 0;
  background-image: url("settings-icon.png");
  background-size: contain;
  display: inline-block;
  opacity: 0.4;
}

.game-wrapper .settings-button .text {
  display: inline-block;
  line-height: 50px;
}

.game-wrapper .scoreboard {
  margin: 16px 0;
  height: calc(58% - 66px);
  background: var(--bg-level-2);
  padding: 16px 16px 12px 12px;
  border-radius: 16px;
}

.game-wrapper .scoreboard h2 {
  margin-bottom: 4px;
  padding: 4px 4px 16px 8px;
}

.scoreboard .player,
.players-container .player {
  display: flex;
  margin: 0.25vh 0;
  padding: 8px;
  border-radius: 50px;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transform: translateY(0px);
  opacity: 1;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.scoreboard .inactive.player,
.players-container .inactive.player {
  transform: translateY(30px);
  opacity: 0;
}

.scoreboard .player:hover,
.players-container .player:hover {
  background: var(--bg-level-3);
}

.scoreboard .player .name,
.players-container .player .name {
  width: auto;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  color: var(--bg-level-1);
}

.scoreboard .player .points,
.players-container .player .points {
  flex: 1;
  text-align: right;
  padding: 4px 6px;
  color: var(--text-60);
  font-size: 16px;
  font-weight: 600;
}

.mobile-divider {
  display: none;
  vertical-align: middle;
  height: 8px;
  line-height: 8px;
  padding: 0 5px 12px 0px;
}

.scoreboard .player .points span,
.players-container .player .points span {
  padding-right: 4px;
  color: var(--text-100);
  font-size: 20px;
  font-weight: 500;
}

.game-wrapper .chat {
  height: calc(42% - 16px);
  background: var(--bg-level-2);
  border-radius: 16px;
  overflow: hidden;
  padding: 0 0 60px;
}

.chat h2 {
  margin-bottom: 4px;
  padding: 20px 50% 16px 0;
}

.game-wrapper .chat .messages {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.chat .starter-message {
  margin: 16px 0;
  opacity: 0.6;
  font-style: italic;
}

.chat .message {
  margin: 16px 10% 16px 0;
  word-break: break-all;
  transition-property: all;
  transition-duration: 0.2s;
  transform: translateY(0px);
  opacity: 1;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.chat .inactive.message {
  transform: translateX(30px);
  opacity: 0;
}

.game-wrapper .chat .message-bar {
  height: 48px;
  position: relative;
  bottom: 0;
  margin-left: 12px;
  width: calc(100% - 24px);
  border-radius: 8px;
  display: flex;
}

.game-wrapper .chat input {
  flex: 3;
  margin-right: 12px;
  bottom: 8px;
  height: 48px;
  border: none;
  outline: none;
  padding: 8px 8px 8px 12px;
  font-size: 16px;
  background: var(--bg-level-3);
  color: var(--text-100);
  border-radius: 8px;
}

.game-wrapper .chat .send-button {
  flex: 1;
  font-size: 18px;
  background: var(--bg-level-3);
  width: 100px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
  border-radius: 8px;
}

.game-wrapper .chat .send-button:hover {
  background: var(--bg-level-4);
}

.game-wrapper .canvas {
  text-align: center;
  flex: 11;
  margin-left: 16px;
  height: calc(100vh - 32px);
  background: var(--bg-level-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.canvas .square {
  width: calc(3vw + 4vh);
  height: calc(3vw + 4vh);
  background: var(--text-100);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.canvas .relic-wrapper {
  width: 1px;
  height: 1px;
  z-index: 1;
  position: absolute;
}

.canvas .relic-square {
  width: calc(3vw + 4vh);
  height: calc(3vw + 4vh);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: visible;
}

.game-wrapper .relic-name {
  position: fixed;
  width: 300px;
  height: 32px;
  text-align: center;
  animation: pointScoredUp 0.7s;
  transition-timing-function: ease-out;
  opacity: 0;
  z-index: 2;
  user-select: none;
}

.game-wrapper .relic-down {
  animation: pointScoredDown 0.7s;
}

.game-wrapper .relic-up {
  animation: pointScoredUp 0.7s;
}

@keyframes pointScoredUp {
  0%   {
    transform: translateY(0px);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(-18px);
  }
}

@keyframes pointScoredDown {
  0%   {
    transform: translateY(0px);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(18px);
  }
}

.canvas .waiting {
  background: none;
  color: var(--text-60);
  font-size: 24px;
  border-radius: 1px;
  width: 300px;
  z-index: 2;
}

.canvas .waiting p {
  padding: 28px 0;
  z-index: 2;
}

.canvas .ready,
.canvas .play-again-button {
  background: var(--bg-level-3);
  color: white;
  font-size: 24px;
  border-radius: 16px;
  z-index: 2;
}

.canvas .play-again-button {
  margin-bottom: 74px;
}

.canvas .ready div,
.canvas .play-again-button div {
  padding: 24px;
}

.canvas .round-leaderboard {
  width: 100%;
  height: 100%;
  padding: 24px 5%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
}

.canvas .winner-container {
  width: 100%;
  text-align: center;
  background-image: url(confetti-blue-4.png);
  background-size: 50% 75%;
  background-repeat: no-repeat;
  background-position: center 16px;
}

.winner-container .chip {
  font-size: 28px;
  margin-top: 74px;
  padding: 6px 16px;
  border-radius: 100px;
  width: fit-content;
  display: inline-block;
  color: var(--bg-level-1);
  font-weight: 500;
}

.winner-container .winner-text {
  font-size: 24px;
  margin-top: 4px;
  font-weight: 500;
}

.canvas .players-container {
  margin: 60px 30% 80px;
  width: 100%;
  max-height: 40%;
  padding: 0px 12px;
}

.canvas .play-again-button div {
  padding: 24px;
}

.canvas .cursor {
  position: absolute;
  width: 18px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: left top;
  z-index: 100;
}
