.beacon-loading {
    background: #231F20 !important;
}

.condoms-loading {
    background: #1D0F3C !important;
}

.mixlexia-loading {
    background: #663344 !important;
}

.nobl-loading {
    background: #EE413D !important;
}

.logos-loading {
    background: #22aa66 !important;
}

.pregnancy-loading {
    background: #9A4665 !important;
}

.google-loading {
    background: #FF5252 !important;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 101vh;
    left: 0;
    background: #121413;
    z-index: 99999;
    transition-property: all;
    transition-duration: 1s;
    opacity: 1;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

#loading-logo {
    opacity: 0.15;
    position: relative;
    width: 150px;
    height: auto;
    top: calc(49vh - 75px);
    left: calc(50vw - 75px);
    background: none;
    -webkit-transform: rotateX(0);
}

.loading-enabled {
    top: 0vh !important;
    transition-duration: 0.7s !important;
}


@media (max-width: 500px) {

    #loading-logo {
        opacity: 0.25;
        width: 80px;
        top: calc(49vh - 40px);
        left: calc(50vw - 40px);
    }

}