@media (min-width: 1500px) {

  h1 {
    font-size: 28px;
  }
  
  .create-game-wrapper h3,
  .main-menu-wrapper h3,
  .join-game-wrapper h3,
  .setting-wrapper h3 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .main-menu-wrapper .content,
  .settings-wrapper .content {
    width: 400px;
  }

  .main-menu-wrapper .button,
  .settings-wrapper .button {
    margin: 32px 0;
    padding: 16px 0;
    font-size: 22px;
  }

  .game-wrapper h2 {
    font-size: 24px;
  }

  .scoreboard .player .name {
    padding: 6px 12px 8px;
    font-size: 21px;
}

  .scoreboard .player .points {
    font-size: 21px;
}

  .chat .message {
    font-size: 21px;
  }

  .game-wrapper .chat .send-button {
    font-size: 21px;
    line-height: 215%;
  }

  .game-wrapper .chat input {
    font-size: 18px;
  }

}

@media (max-width: 1200px) {}

@media (max-width: 900px) {}
