@media (min-width: 1800px) {

  .game-wrapper .content {
    padding: 24px;
  }

  .game-wrapper .title-bar .exit-button {
    margin: 0 24px;
  }

  .game-wrapper .scoreboard {
    margin: 24px 0;
  }

  .game-wrapper .chat {
    height: calc(42% - 24px);
    padding: 0px 0 68px;
  }

  .game-wrapper .chat h2 {
    padding: 24px 50% 16px 0;
  }

  .game-wrapper .canvas {
    margin-left: 24px;
  }

  .game-wrapper .scoreboard {
    height: calc(58% - 82px);
    padding: 20px 20px 16px 16px;
  }

  .game-wrapper .scoreboard h2 {
    padding: 4px 4px 20px 8px;
  }

  .scoreboard .player {
    margin: 0.5vh 0;
  }

  .scoreboard .player .name {
    font-size: 21px;
  }

  .scoreboard .player .points {
    font-size: 24px;
  }

  .scoreboard .player .points span {
    padding-right: 6px;
    font-size: 26px;
  }

  .game-wrapper h2 {
    font-size: 26px;
  }

  .chat h2 {
    margin-bottom: 4px;
    padding: 0px 50% 16px 0;
  }

  .game-wrapper .chat .messages {
    padding: 0 24px;
  }
 
  .chat .message,
  .chat .starter-message {
    font-size: 24px;
    margin: 24px 0;
  }

  .game-wrapper .chat .message-bar {
    height: 56px;
  }

  .game-wrapper .chat input {
    font-size: 21px;
    height: 56px;
    line-height: 56px;
  }

  .game-wrapper .chat .send-button {
    font-size: 24px;
    height: 56px;
    line-height: 56px;
}

  .game-wrapper .sidebar,
  .game-wrapper .canvas {
    height: calc(100vh - 48px);
  }

  .game-wrapper .title-bar {
    height: 58px;
  }

  .game-wrapper .title-bar .logo {
    width: 58px;
  }

  .game-wrapper .exit-button .text,
  .game-wrapper .settings-button .text {
    line-height: 58px;
  }

  .game-wrapper .exit-button .icon,
  .game-wrapper .settings-button .icon {
    margin: 20px 6px 20px 0;
  }

  .game-wrapper .title-bar .exit-button,
  .game-wrapper .title-bar .settings-button {
    font-size: 18px;
  }

}

@media (min-width: 1500px) {

  h1 {
    font-size: 28px;
  }
  
  .create-game-wrapper h3,
  .main-menu-wrapper h3,
  .join-game-wrapper h3,
  .setting-wrapper h3 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .main-menu-wrapper .content,
  .settings-wrapper .content {
    width: 400px;
  }

  .main-menu-wrapper .button,
  .settings-wrapper .button {
    margin: 32px 0;
    padding: 16px 0;
    font-size: 22px;
  }

  .game-wrapper h2 {
    font-size: 24px;
  }

  .scoreboard .player .name {
    padding: 6px 12px 8px;
    font-size: 21px;
}

  .scoreboard .player .points {
    font-size: 21px;
}

  .chat .message {
    font-size: 21px;
  }

  .game-wrapper .chat .send-button {
    font-size: 21px;
  }

  .game-wrapper .chat input {
    font-size: 18px;
  }

}

@media (max-width: 1200px) {

  .game-wrapper .exit-button .text,
  .game-wrapper .settings-button .text {
    display: none !important;
  }

  .game-wrapper .title-bar .exit-button,
  .game-wrapper .title-bar .settings-button {
    flex: 4;
  }

}

@media (max-width: 900px) {}
