.back-button {
  padding: 9px 18px 10px;
  color: white;
  background: var(--bg-level-3);
  position: fixed;
  left: 3vh;
  top: 3vh;
  cursor: pointer;
  border-radius: 2px;
  font-size: 22px;
  z-index: 99;
}

.back-button:hover {
  background: var(--bg-level-4);
}

.main-menu-wrapper,
.join-game-wrapper {
  text-align: center;
}

.main-menu-wrapper .content {
  margin-top: 48px;
  display: inline-block;
}

.join-game-wrapper .content {
  width: 80vw;
  margin-top: 24px;
  display: inline-block;
}

.main-menu-wrapper .container {
  display: inline-block;
  width: 42vw;
  max-width: 400px;
  margin: 0px 12px 0;
}

.join-game-wrapper .container {
  width: 100%;
  margin: 12px 0;
  display: inline-block;
}

.main-menu-wrapper .button {
  padding: 16px 0;
  border-radius: 16px;
  background: var(--bg-level-3);
  color: white;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
}

.main-menu-wrapper .button:hover {
  background: var(--bg-level-4);
}

#solo-game-menu {
  margin: 24px 0;
}

.create-game-wrapper .field {
  padding: 16px 0;
}

.create-game-wrapper h3,
.main-menu-wrapper h3 {
  margin-bottom: 12px;
}

.main-menu-wrapper input[type=text] {
  text-align: center;
  font-size: 22px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  padding: 12px 0;
  border-radius: 16px;
  user-select: text;
  border: none;
  outline: none;
}

.create-game-wrapper input[type=text] {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 16px;
  user-select: text;
  border: none;
  outline: none;
}

.create-game-wrapper input[type=number] {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 60px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  caret-color: transparent;
  cursor: default;
  user-select: none;
  outline: none;
  border: none;
}

.create-game-wrapper input[type=number]::-webkit-inner-spin-button,
.create-game-wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::placeholder {
  color: var(--text-60);
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: var(--bg-level-3);
  border: none;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:hover {
  background-color: var(--bg-level-4);
}

.number-input button:first-child {
  border-radius: 50% 0 0 50%;
}

.number-input button:last-child {
  border-radius: 0 50% 50% 0;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 3px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg) !important;
}

.number-input input[type=number] {
}


/*  ______
    MAIN MENU
*/

.main-menu-wrapper .player-info span {
  margin: 24px 0;
  position: relative;
  top: -12px;
  border-radius: 4px;
  padding: 4px 36px 4px 8px;
  opacity: 0;
  background: var(--player-color-1);
  color: var(--bg-level-2);
  font-weight: 500;
}

.create-game-wrapper .create-game-session-info span {
  margin: 24px 0;
  position: relative;
  top: 12px;
  opacity: 0;
}

.main-menu-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu-logo-container .logo {
  background-image: url("logo.png");
  width: 40px;
  height: 40px;
  background-size: cover;
}

.main-menu-logo-container .text {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: 600;
  line-height: 32px;
  margin-left: 20px;
  padding: 0px 0 3px;
  overflow: hidden;
}

.main-menu-wrapper .container-1 > * {
  background: var(--bg-level-2);
  border-radius: 16px;
  padding: 16px;
  text-align: left;
}

.main-menu-wrapper .player-info-container {
  margin: 24px 0;
  padding: 24px;
}

.main-menu-input-container {
  display: flex;
}

.main-menu-input-container input {
  border-radius: 16px 0 0 16px !important;
  width: auto;
  flex: 4;
}

.main-menu-input-container button {
  background: var(--bg-level-3);
  color: white;
  height: 52px;
  line-height: 36px;
  padding: 0 14px;
  font-size: 21px;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-menu-input-container button:hover {
  background: var(--bg-level-4);
}

.main-menu-wrapper .room-list {
  background: var(--bg-level-2);
  border-radius: 16px;
  text-align: left;
  padding-bottom: 8px;
  height: 671px;
}

.main-menu-wrapper .room-list .empty {
  padding: 152px 36px 36px;
}

.main-menu-wrapper .room-list .empty .text {
  margin: 36px 0 24px;
  text-align: center;
  line-height: 26px;
}

.main-menu-wrapper .room-list .empty .button {
  margin: 0 15%;
}

.main-menu-wrapper .room-list h3 {
  margin: 24px 24px 36px;
  font-size: 24px;
  display: inline-block;
}

.main-menu-wrapper .search-bar-container {
  display: flex;
  padding: 16px 20px 12px 16px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.main-menu-wrapper .search-bar-container.inactive {
  padding: 16px 20px 12px 24px;
}

.main-menu-wrapper .search-bar-container h3 {
  flex: auto;
  width: 150px;
  margin: 0;
  line-height: 48px;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.main-menu-wrapper .search-bar-container.inactive h3 {
  opacity: 1;
}

.main-menu-wrapper .search-bar-container input {
  width: 318px;
  opacity: 1;
  position: absolute;
  height: 48px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.main-menu-wrapper .search-bar-container.inactive input {
  width: 200px !important;
  opacity: 0 !important;
}

.main-menu-wrapper .search-bar-container button {
  padding: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
}

.main-menu-wrapper .search-bar-container .search-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  float: right;
  background-image: url(close-icon.png);
  opacity: 0.6;
  background-size: cover;
}

.main-menu-wrapper .search-bar-container.inactive .search-icon {
  background-image: url(search-icon.png);
}

.main-menu-wrapper .room-list .search-icon:hover {
  opacity: 1;
}

.main-menu-wrapper .room-list .room {
  padding: 14px 16px;
  margin: 14px 16px;
  background: var(--bg-level-3);
  border-radius: 8px;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  align-items: center;
}

.main-menu-wrapper .room-list .room:hover {
  background: var(--bg-level-4);
}

.main-menu-wrapper .room-list .room-name {
  width: fit-content;
  color: var(--text-100);
  line-height: 31px;
}

.main-menu-wrapper .room.private .room-private {
  opacity: 1 !important;
}

.main-menu-wrapper .room-list .room-private {
  opacity: 0;
  background-image: url(lock-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-left: 12px;
  margin-top: -2px;
}

.main-menu-wrapper .room.full .room-full {
  opacity: 1 !important;
}

.main-menu-wrapper .room-list .room-full {
  opacity: 0;
  color: var(--player-color-1);
  flex: 1;
  text-align: right;
  margin-right: 12px;
  font-weight: 600;
  line-height: 31px;
}

.main-menu-wrapper .room-list .room-players {
  color: var(--text-100);
  width: fit-content;
  text-align: right;
  font-weight: 500;
  overflow: hidden;
}

.main-menu-wrapper .room-list .room-players * { 
  display: inline-block;
  vertical-align: baseline;
}

.main-menu-wrapper .room-list .room-players span {
  color: var(--text-60);
  font-size: 16px;
  padding: 0 5px;
  font-weight: 600;
}



/*  ______
    CREATE GAME
*/


.create-game-wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  z-index: 98;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  top: 0;
  left: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.create-game-wrapper .content {
  width: 100%;
  max-width: 420px;
  background: var(--bg-level-2);
  border-radius: 16px;
  padding: 24px 24px 0 24px;
  transform: translateY(0px);
  opacity: 1;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.inactive.create-game-wrapper {
  background: rgba(0, 0, 0, 0.0) !important;
}

.inactive.create-game-wrapper .content {
  transform: translateY(60px) !important;
  opacity: 0 !important;
}

.create-game-wrapper .field .start-game,
.create-game-wrapper .field .cancel-create-game {
  text-align: center
}

.create-game-wrapper .inputs {
  display: inline-block;
}

.create-game-wrapper .number-points-input {
  margin-right: 42px;
}

.create-game-wrapper .create-game-session-info input,
.create-game-wrapper .create-game-password input {
  width: 100%;
}

.create-game-wrapper .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  font-weight: 400;
}

.create-game-wrapper .left-button {
  padding-right: 18px;
}

.create-game-wrapper .buttons {
  flex: 1 auto;
}

.create-game-wrapper .buttons div {
  width: 100%;
}

.create-game-wrapper h1 {
  margin-bottom: 24px;
  font-weight: 500;
}

.create-game-password div {
  margin: 8px 0 20px;
  width: auto;
  max-width: 440px;
  line-height: 26px;
  opacity: 0.8;
}

.create-game-password h3 span {
  opacity: 0.5;
  font-weight: 400;
  padding-left: 6px;
}

.create-game-wrapper .field .start-game div,
.create-game-wrapper .field .cancel-create-game div {
  display: inline-block;
  max-width: 300px;
  padding: 12px 48px;
  font-size: 24px;
  font-weight: 500;
  background: var(--bg-level-3);
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

.create-game-wrapper .field .start-game div:hover,
.create-game-wrapper .field .cancel-create-game div:hover {
  background: var(--bg-level-4);
}

.color-picker div {
  margin: 0 2px;
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
}

.color-picker .selected {
  border: 2px solid rgba(248, 248, 250);
}

.color-picker > div:hover {
  border: 2px solid rgba(248, 248, 250, 0.4);
}

.color-picker .selected:hover {
  border: 2px solid rgba(248, 248, 250);
}

.color-picker div div {
  width: 47px;
  height: 47px;
  border: none;
  margin: 6px 6px 3px 6px;
  border-radius: 50%;
}


/*  ______
    FEEDBACK
*/


.feedback-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 16px;
  z-index: 98;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.inactive.feedback-container {
  background: rgba(0, 0, 0, 0.0) !important;
}

.feedback-container .feedback-dialog {
  background: var(--bg-level-2);
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  padding: 24px;
  text-align: left;
  z-index: 99;
  transform: translateY(0px);
  opacity: 1;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
}

.inactive.feedback-container .feedback-dialog {
  transform: translateY(60px) !important;
  opacity: 0 !important;
}

.feedback-container h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 28px;
}

.feedback-container .feedback-message {
  height: calc(100vh - 294px);
  max-height: 200px;
  resize: none;
}

.feedback-container .feedback-name,
.feedback-container .feedback-message {
  margin-bottom: 24px;
  background: white;
  color: var(--bg-level-1);
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border:none;
  font-family: "Barlow", Futura, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.feedback-container .feedback-button-container {
  display: flex;
  text-align: center;
}

.feedback-container .feedback-close,
.feedback-container .feedback-submit {
  flex: 1;
  background: var(--bg-level-3);
  color: var(--text-100);
  border-radius: 8px;
  padding: 16px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.feedback-container .feedback-submit {
  margin-left: 24px;
}

.feedback-container .feedback-close:hover {
  background: var(--bg-level-4);
}

.feedback-container .feedback-submit:hover {
  background: var(--bg-level-4);
}

.feedback-toast {
  position: fixed;
  bottom: 32px;
  left: 32px;
  border-radius: 8px;
  padding: 24px;
  font-weight: 600;
  font-size: 24px;
  background: var(--bg-level-4);
  color: var(--text-100);
  animation: toastAnimation 2.7s;
  transition-timing-function: cubic-bezier(0.495, 0.100, 0.075, 0.845);
  opacity: 0;
  z-index: 100;
}

@keyframes toastAnimation {
  0%   {
    transform: translateY(-80px);
    opacity: 0;
  }
  10%   {
    opacity: 1;
  }
  15% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}