/*  Variables for colors  */

:root {
  --player-color-1: #FF6E91;
  --player-color-2: #FFE187;
  --player-color-3: #78FA86;
  --player-color-4: #83B2FF;
  --player-color-5: #B37FFF;
  --player-color-1-transparent: #593B45;
  --player-color-2-transparent: #595243;
  --player-color-3-transparent: #3E5742;
  --player-color-4-transparent: #40485B;
  --player-color-5-transparent: #493E5B;
}

.player.color-red .name,
.color-red .chip,
.color-picker .red div {
  background: var(--player-color-1);
}

.player.color-yellow .name,
.color-yellow .chip,
.color-picker .yellow div {
  background: var(--player-color-2);
}

.player.color-green .name,
.color-green .chip,
.color-picker .green div {
  background: var(--player-color-3);
}

.player.color-blue .name,
.color-blue .chip,
.color-picker .blue div {
  background: var(--player-color-4);
}

.player.color-purple .name,
.color-purple .chip,
.color-picker .purple div {
  background: var(--player-color-5);
}

.message .color-red,
.relic-name.color-red {
  color: var(--player-color-1);
}

.message .color-yellow,
.relic-name.color-yellow {
  color: var(--player-color-2);
}

.message .color-green,
.relic-name.color-green {
  color: var(--player-color-3);
}

.message .color-blue,
.relic-name.color-blue {
  color: var(--player-color-4);
}

.message .color-purple,
.relic-name.color-purple {
  color: var(--player-color-5);
}

.relic-square.color-red {
  background: var(--player-color-1-transparent);
}

.relic-square.color-yellow {
  background: var(--player-color-2-transparent);
}

.relic-square.color-green {
  background: var(--player-color-3-transparent);
}

.relic-square.color-blue {
  background: var(--player-color-4-transparent);
}

.relic-square.color-purple {
  background: var(--player-color-5-transparent);
}