/*  Variables for colors  */

:root {
  --player-color-1: #D83550;
  --player-color-2: #FFA644;
  --player-color-3: #8E992F;
  --player-color-4: #246177;
  --player-color-5: #2F1D6A;
}

.player.color-red .name,
.relic-square.color-red,
.color-picker .red div {
  background: var(--player-color-1);
  color: white;
}

.player.color-yellow .name,
.relic-square.color-yellow,
.color-picker .yellow div {
  background: var(--player-color-2);
  color: white;
}

.player.color-green .name,
.relic-square.color-green,
.color-picker .green div {
  background: var(--player-color-3);
  color: white;
}

.player.color-blue .name,
.relic-square.color-blue,
.color-picker .blue div {
  background: var(--player-color-4);
  color: white;
}

.player.color-purple .name,
.relic-square.color-purple,
.color-picker .purple div {
  background: var(--player-color-5);
  color: white;
}

.message .color-red {
  color: var(--player-color-1);
}

.message .color-yellow {
  color: var(--player-color-2);
}

.message .color-green {
  color: var(--player-color-3);
}

.message .color-blue {
  color: var(--player-color-4);
}

.message .color-purple {
  color: var(--player-color-5);
}