.section {
    height: 100vh;
    margin-left: 12rem;
    width: calc(100vw + -12rem);
    text-align: left;
    overflow: hidden;
}

.section-wrapper {
    text-align: left;
}

.splash {
    background: #121413;
    color: #f4f5f6;
}

.section {
    color: #f4f5f6;
}

.section-1 {
    display: flex;
    align-items: center;
    background-image: url(footer.png);
    background-size: auto 100%;
    background-position: 20% 100%;
    background-repeat: no-repeat;
    height: auto;
}

.home-splash {
    padding: 30vh 6vw 6vh;
}

.home-splash h1 {
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 120%;
    width: 90%;
}

.home-splash ul {
    font-size: 1.5rem;
    width: 35%;
    display: inline-block;
    margin: 8vh 8vh 6vh 0;
    vertical-align: text-top;
}

.home-splash ul li {
    color: rgba(244, 255, 256, 0.5);
    margin: 0 0 1.5rem;
    line-height: 130%;
}

.home-splash ul li.list-head {
    color: rgba(244, 255, 256, 1);
    font-weight: 700;
    margin: 0 0 1rem;
}

.home-splash ul li span a {
    color: rgba(244, 255, 256, 1);
}

.logo-container {
    box-sizing: content-box;
    width: 100%;
    height: 8vh;
    padding-top: 19vh;
}

.logo-container img {
    height: 75px;
    width: auto;
}

.section h2 {
    font-weight: 400;
    line-height: 140%;
    font-size: 1.5rem;
    width: 35vw;
    padding-top: 24px;
}

.section-wrapper span {
    text-transform: uppercase;
    color: #121413;
    opacity: 0.3;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.button {
    margin: 28px 0 0 0;
    padding: 12px 12px 12px 64px;
    font-weight: 700;
    width: fit-content;
    color: #121413;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button::before {
    content: "";
    position: absolute;
    height: 3px;
    padding-left: 48px;
    width: 0px;
    left: 50px;
    bottom: 61px;
    background: #121413;
    transition: width 0.15s, padding-left 0.15s 0.25s, left 0.15s 0.15s;
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.button:hover::before {
    width: 48px;
    padding-left: 0px;
    left: 286px;
    transition: width 0.15s, padding-left 0.15s 0.2s, left 0.3s 0.15s;
}

.projects-button:hover::before {
    left: 267px;
}

.section-wrapper {
    position: absolute;
    left: 10.25rem;
    padding: 42px 25px 42px 50px;
    background: #f4f5f6;
    color: #121413;
    font-size: 2rem;
}

#section1 .section-wrapper {
    bottom: 0vh;
}

#section2 .section-wrapper {
    bottom: -100vh;
}

#section3 .section-wrapper {
    bottom: -200vh;
}

#section4 .section-wrapper {
    bottom: -300vh;
}

#section5 .section-wrapper {
    bottom: -400vh;
}

#section6 .section-wrapper {
    bottom: -500vh;
}

.beacon-splash {
    background: url(beacon-splash-large.png);
    background-size: 100% auto;
    background-position: 0% 55%;
}

.mixlexia-splash {
    background: url(mixlexia-splash-large.png);
    background-size: cover;
    background-position: right center;
}

.condoms-splash {
    background-image: url(../img/condoms4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects-splash {
    background: url(../img/windermere-holiday-1.gif);
    background-position: center 33%;
    background-size: cover;
}

.contact-splash {
    background: #121413;
}

@media (max-width: 1700px) {

    .home-splash ul {
    width: 90%;
    margin: 6vh 6vw 0rem 0;
}
    
}
    
@media (max-width: 1080px) {

    .home-splash ul {
        margin: 5vw 6vw 2rem 0;
    }

    .home-splash ul li {
        font-size: 0.9rem;
    }

    .section {
        height: 100vh;
        margin-left: 10rem;
        width: calc(100vw + -10rem);
        text-align: left;
    }

    .section-wrapper {
        left: 9rem;
        padding: 30px 25px 36px 50px;
    }

    .section-wrapper span {
        font-size: 1rem;
    }

    .section h2 {
        width: 40vw;
        padding-top: 20px;
    }

    .button {
        margin: 24px 0 0 0;
        padding: 12px 12px 12px 64px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .button::before {
        bottom: 55px;
    }

    .button:hover::before {
        left: 285px;
    }

    .projects-button:hover::before {
        left: 267px;
    }

    .beacon-splash {
        background: url(beacon-splash-small.png);
        background-position: 0% 5%;
        background-size: 100% auto;
    }

    .projects-splash {
        background: url(../img/windermere-holiday-1.gif);
        background-position: center;
        background-size: auto 100%;
    }

}

@media (max-width: 780px) {

    .section-1 {
        align-items: flex-end;
        background-image: url(footer-small.png);
        background-size: auto 150%;
        background-position: top left;
    }

    .home-splash {
        padding: 4vh 4vw;
    }

    .home-splash h1 {
        font-size: 1rem;
        width: 100%;
    }

    .home-splash ul {
        margin: 2.5rem 0 0 0;
        width: 100%;
        display: block;
    }

    .home-splash ul li {
        margin: 0 0 1rem 0;
    }

    .section {
        height: 100vh;
        margin-left: 0;
        width: 100vw;
        text-align: left;
    }

    .mixlexia-splash {
        background: url("mixlexia-splash-small.png");
        background-size: cover;
        background-position: top center;
    }

    .condoms-splash {
        background-size: auto 85%;
        background-position: top center;
    }

    .navigation {
        right: -120px !important;
    }

    .section-wrapper {
        width: 100vw;
        left: 0rem;
        padding: 24px 36px 24px 36px;
    }

    .section h2 {
        width: auto;
        padding-top: 14px;
    }

    .button {
        margin: 16px 0 0 0;
        padding: 12px 12px 12px 64px;
    }

    .button::before {
        left: 36px;
        bottom: 43px;
    }

    .button:hover::before {
        padding-left: 48px;
        width: 0px;
        left: 36px;
    }

}

@media (max-width: 500px) {

    .section-wrapper span {
        font-size: 1rem;
    }

    .section h2 {
        font-size: 1rem;
    }

    .section .button {
        font-size: 1rem;
    }

    .section-wrapper {
        padding: 12px 28px 18px 28px;
    }

    .section .button::before {
        bottom: 37px;
        left: 28px;
        padding-left: 48px;
    }

    .section .button {
        padding: 12px 12px 12px 64px;
    }

}
