* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.display-none {
  display: none !important;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

body {
  background: lightgrey;
  font-family: "Barlow", Futura, sans-serif;
  font-size: 20px;
}