:root {
  --bg-level-1: #202022;
  --bg-level-2: #333235;
  --bg-level-3: #444246;
  --bg-level-4: #545155;
  --text-100: #F8F8FA;
  --text-60: #807F82;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.display-none {
  display: none !important;
}

.transition-01s {
  transition-property: all;
  transition-duration: 0.1s;
}

.transparent {
  opacity: 0;
}

.no-scroll {
  overflow: hidden !important;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

body {
  background: var(--bg-level-1);
  font-family: "Barlow", Futura, sans-serif;
  font-size: 20px;
  color: var(--text-100);
}

.text-100 {
  color: var(--text-100);
}

.text-60 {
  color: var(--text-60);
}

.disabled-cursor {
  cursor: not-allowed !important;
}